div(class='ui header') Filter Events
form(class='ui form' id='filter-form' method='post' action='/filter')
    include ../forms/fields/CategoryDropdown
    include ../forms/fields/CityDropdown
    div(class='ui button fluid confirm' id='filter-submit') Apply Filter
    if loggedIn
        div(class='ui button fluid confirm' id='report-submit') Create Report
