div(class='ui header') Search Events
form(class='ui form' id='search-form' method='get' action='/filter')
    div(class='ui fluid search')
        div(class='ui icon fluid input')
            input(class='prompt' type='text' placeholder='Search...')
            i(class='search icon')
    div(class='ui button fluid confirm labeled icon' id='search-submit') Apply
        i(class='search icon')        