div(class='ui modal' id='create-modal')
    div(class='header') Create an Event
    div(class='content')
        include ../forms/Create
    div(class='actions')
        div(class='ui button cancel') Cancel
        div(class='ui button confirm' id='create-submit') Create