div(class='ui modal mini' id='login-modal')
    div(class='header') Log In to Alumnivents
    div(class='content')
        include ../forms/Login
    div(class='actions')
        div(class='ui button cancel') Close
        div(class='ui button confirm ok') Login
