div(class='ui modal' id=`update-modal-${event.id}`)
    div(class='header') Update Event
    div(class='content')
        include ../forms/Create
    div(class='actions')
        div(class='ui button cancel' id=`update-cancel-${event.id}`) Cancel
        div(class='ui button confirm' id=`update-submit-${event.id}`) Update