div(class='field')
    label Category
    div(class='ui search selection dropdown fluid compact')
        input(type='hidden' name='category' value=`${filters.hasOwnProperty('category') && filters.category !== '' ? filters.category : null}`)
        div(class='dropdown icon')
        div(class='default text') Category
        div(class='menu')
            each category, idx in formOptions.categories
                div(class='item' data-value=`${category}`)= category