div(class='five wide field')
    div(class='ui search selection dropdown')
        input(type='hidden' name='country' value=`${event ? data[event.id - 1].location.country : ''}`)
        div(class='dropdown icon')
        div(class='default text') Country
        div(class='menu')
            each country, idx in formOptions.countries
                div(class='item' data-value=`${country}`)
                    //- i(class=`${country} flag`)
                    .
                        #{country}