//-This class enables a dropdown for the possible state options
div(class='two wide field')
    div(class='ui compact search selection dropdown')
        input(type='hidden' name='state' value=`${event ? data[event.id].location.state : ''}`)
        div(class='dropdown icon')
        div(class='default text') State
        div(class='menu')
            each state, idx in formOptions.states
                div(class='item' data-value=`${state}`)= state