form(class='ui form' id='login-form')
    div(class='field')
        label Name
        div(class='two fields')
            div(class='field')
                input(type='text' name='firstname' placeholder='First Name')
            div(class='field')
                input(type='text' name='lastname' placeholder='Last Name')
    div(class='two fields')
        div(class='field')
            label Graduation Year
            input(type='text' name='gradyear' placeholder='Graduation Year')
        div(class='field')
            label Major
            input(type='text' name='major' placeholder='Major')