form(class='ui form' id='create-form' method='post' action='/create')
    if !loggedIn
        h4(class='ui dividing header') Your Information
        div(class='two fields')
            div(class='field')
                label Name
                div(class='two fields')
                    div(class='field')
                        input(type='text' name='firstname' placeholder='First Name')
                    div(class='field')
                        input(type='text' name='lastname' placeholder='Last Name')
            div(class='field')
                label Email
                input(type='email' name='email' placeholder='Email')
        div(class='two fields')
            div(class='field')
                label Graduation Year
                input(type='text' name='graduation' placeholder='Graduation Year')
            include ./fields/MajorDropdown
        h4(class='ui dividing header') Event Information
    div(class='field')
        label Event Name
        input(type='text' name='name' placeholder='Event Name')
    div(class='field')
            label Location
            div(class='two fields')
                div(class='thirteen wide field')
                    input(type='text' name='address' placeholder='Street Address')
                div(class='three wide field')
                    input(type='text' name='address2' placeholder='Apt #, etc...')
    div(class='field')
        div(class='four fields')
            div(class='six wide field')
                input(type='text' name='city' placeholder='City')
            include ./fields/StateDropdown
            div(class='three wide field')
                input(type='text' name='zipcode' placeholder='Zip Code')
            include ./fields/CountryDropdown
    div(class='two fields')
        div(class='field')
            label Time and Date
            input(type='text' name='date' readonly='' placeholder='Time and Date' id='dateTimeSelector')
        div(class='field')
            label End Time
            input(type='text' name='endTime' readonly='' placeholder='End Time' id='endTimeSelector')
    div(class='field')
        label Description
        textarea(rows='3' name='description')
    div(class='three fields')
        include ./fields/CategoryDropdown