form(class='ui form' id='create-form' method='post' action='/create')
    if !loggedIn
        h4(class='ui dividing header') Your Information
        div(class='field')
            label Name
            div(class='two fields')
                div(class='field')
                    input(type='text' name='firstname' placeholder='First Name')
                div(class='field')
                    input(type='text' name='lastname' placeholder='Last Name')
        div(class='two fields')
            div(class='field')
                label Graduation Year
                input(type='text' name='graduation' placeholder='Graduation Year')
            include ./fields/MajorDropdown
        h4(class='ui dividing header') Event Information
    div(class='field')
        label Event Name
        input(type='text' name='name' placeholder='Event Name')
    div(class='field')
            label Location
            div(class='five fields')
                div(class='field')
                    input(type='text' name='address' placeholder='Address')
                div(class='field')
                    input(type='text' name='city' placeholder='City')
                div(class='field')
                    input(type='text' name='state' placeholder='State')
                div(class='field')
                    input(type='text' name='zipcode' placeholder='Zip Code')
                div(class='field')
                    input(type='text' name='country' placeholder='Country')
    div(class='two fields')
        div(class='field')
            label Time and Date
            input(type='text' name='date' readonly='' placeholder='Time and Date' id='dateTimeSelector')
        div(class='field')
            label End Time
            input(type='text' name='endTime' readonly='' placeholder='End Time' id='endTimeSelector')
    div(class='field')
        label Description
        textarea(rows='3' name='description')
    div(class='two fields')
        include ./fields/CategoryDropdown