//- This class enables an alumnus to provide feedback about an event they have checked into
//- including a comment and star rating
form(class='ui form' id=`feedback-form-${event.id}` method='post' action='/feedback')
    input(type='hidden' name='event' value=`${event.id}`)
    div(class='field')
        label Name
        div(class='two fields')
            div(class='field')
                input(type='text' name='firstname' placeholder='First Name')
            div(class='field')
                input(type='text' name='lastname' placeholder='Last Name')
    div(class='field')
        label Event Rating
        div(class='ui huge star rating event-rating' id=`event-rating-${event.id}`)
        input(type='hidden' name='rating' id=`event-rating-input-${event.id}` value='0')
    div(class='field')
        label Comment
        textarea(rows='4' name='comment')