div(class='ui styled fluid accordion')
    div(class='title'.concat(loggedIn ? '' : ' active'))
        i(class='dropdown icon')
        .
            Upcoming Events
    div(class='content'.concat(loggedIn ? '' : ' active'))
        div(class='ui segments' id='upcoming-events')
            if events.upcoming.length
                each event in events.upcoming
                    include EventSegment
            else
                div(class='ui segment')
                    div(class='ui header') There are no upcoming events.
            
div(class='ui styled fluid accordion')
    div(class='title')
        i(class='dropdown icon')
        .
            Past Events
    div(class='content')
        div(class='ui raised segments' id='past-events')
            if events.past.length
                each event in events.past
                    include EventSegment
            else
                div(class='ui segment')
                    div(class='ui header') There are no past events.

if loggedIn
    div(class='ui styled fluid accordion')
        div(class='title active')
            i(class='dropdown icon')
            .
                Pending Events
        div(class='content active')
            div(class='ui raised segments' id='pending-events')
                if events.pending.length
                    each event in events.pending
                        include EventSegment
                else
                    div(class='ui segment')
                        div(class='ui header') There are no pending events.
