div(class='ui segment')
    div(class='ui list divided relaxed')
        each event, idx in pending
            div(class='ui list item')
                div(class='ui list header')= event.name
                div(class='ui list description')= event.date