div(class='ui grid')
    div(class='one wide column')
        include ./admin/Sidebar
    div(class='four wide column')
        include ./events/EventList
    div(class='ten wide column')
        include ./events/EventDetails
    div(class='one wide column')