//- This class creates the list pane view of the homepage of our system. It puts the Filter/Search
//- on the lefthand side, and the events themself on the righthand side by using a column layout
div(class='ui grid center stackable aligned centered')
    div(class='four wide column')
        div(class='ui segment')
            include ./filters/Filter
            include ./filters/Search
            div(class='ui button fluid inverted secondary' id='filter-clear') Clear Filters
    div(class='eleven wide column')
        include ./events/EventAccordion
